.changePwd{
    width:100%;
    height: 100%;
    flex-direction: column;
    .form1{
        position: fixed;
        top: 81px;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #003766;
        box-shadow: 0px 0px 15px 8px #042e54 inset;
        overflow: auto;
        form{
            // height: 100%;
            overflow: hidden;
            padding-top: 50px;
            // border: 2px solid #003766;
            // box-shadow: 0px 0px 15px 8px #042e54 inset;
        }
        .form-list{
            width: 80%;
            color: #ccc;
            margin: 30px auto;
            input{
                border: 2px solid rgb(0, 99, 153);
                background: transparent;
                font-size: 0.13rem;
                padding: 0 10px;
                width: 100%;
                height: 40px;
            }
        }
        .combtn{
            display: flex;
            justify-content: space-between;
            input{
                background: #002749;
                color: #fff;
                border: 2px solid #1b6195;
                width: 47%;
                border-radius: 15px;
                height: 0.37rem;
                text-align: center;
                font-size: 0.15rem;
            }
        }
        
    }
    
}