<template>
    <div class="depositright">
         <mheader title="提取记录" />
         <ul class="dataTitle">
            <li class="leftText">日期</li>
            <li class="centerText">状态</li>
            <li class="rightText">提取金额</li>
            <li></li>
        </ul>  
        <ul class="dataList">
            <li v-for="(item,index) in dataList" :key="index" @click="$router.push({name: 'fetchdetail', params: {id: item.id}})">
                <span class="leftText">{{item.creationTime | dataFrm}}</span>
                <span class="centerText">{{item.auditState == 0 ? '等待' : item.auditState == 1 ? '确认中' : '成功'}}</span>
                <span class="rightText">{{(item.amount * 1).toFixed(6)}}</span>
                <span class="text-center"><i class="fa fa-angle-right fa-2x"></i></span>
            </li>
        </ul>
    </div> 
</template>

<script>
import mheader from '../mheader/mheader.vue'
import HttpClient from '../../utils/HttpClient.js'
import store from '../../vuex/store.js'
import moment from 'moment'

export default {
    components:{
        mheader
    },
    data(){
        return {
            dataList:[]
        }
    },
    filters:{
        dataFrm:function(el){
            return moment(el).format('YYYY/MM/DD')
        }
    },
    methods:{
       getDataList: function(){
           HttpClient.get('api/withdrawCoinApply/pageList',{
               'page':'1',
               'pageSize':'2',
               'imei':store.state.imei
           }).then((result) => {
               console.log(result.data.data)
               this.dataList = result.data.data;
           }).catch((err) => {
               console.log(err)
           });
       } 
    },
    mounted() {
        this.getDataList();
    }
}
</script>
<style lang="scss" scoped>
    .depositright{
        height: 100%;
        display: flex;
        flex-direction: column;
        .leftText{
            text-align: left;
            padding-left: 20px;
        }
        .centerText{
            text-align: center;
        }
        .rightText{
            text-align: right;
            padding-right: 20px;
        }
        .dataTitle{
            height: 0.45rem;
            margin-top: 81px;
            display: flex;
            align-items: center;
            border-bottom: 3px solid #00619e;
            li{
                flex: 1;
                color: #ccc;
                align-items: center;
            }
        }
        .dataList{
            flex: 1; 
            overflow: auto;
            li{
                display: flex;
                height: 0.46rem;
                border-bottom: 1px solid #00619e;
                align-items: center;
                span{
                    font-size: 0.12rem;
                    flex: 1;
                }
            }
        }
    }
</style>




