<template>
    <div class="deposit">
       <mheader title="提取收益" :right="right"/>
        <div class="depositcontent">
            <div class="form1">
                <form>
                    <div class="form-list">
                        <input type="text" class="form_text" v-model="address" placeholder="请输入或选择钱包地址" style="padding-right: 32px;">
                        <p @click="showWallets"><i class="fa fa-angle-right fa-2x"></i></p>
                    </div>
                    <div class="form-list">
                        <input type="number" v-model="amount" placeholder="收益金额" >
                    </div>
                    <div class="form-list">
                        <input type="password" v-model="password" placeholder="输入密码" >
                    </div>
                    <div class="form-list">
                        <input type="text" v-model="note" placeholder="填写备注" >
                    </div>
                    <div class="form-list combtn" style="text-align:center" @touchstart="confirmRefe">
                        <input type="button" value="提交申请">
                    </div>
                </form>
            </div>
        </div>
        <div class="contentMenu" :class="{active: walletsShow}">
            <div class="mheader">
                <div @click="walletsShow = false"><i class="fa fa-angle-left fa-2x"></i></div>
                <div>选择钱包</div>
                <div class="mheader-right"></div>
            </div>
            <div class="address_list">
                <ul v-for="item in wallets" :key="item.id" @click="selectWallet(item)">
                    <li class="col-xs-5">{{item.name}}</li>
                    <li class="col-xs-5">{{item.address}}</li>
                    <li class="col-xs-2 text-right"><i class="iconfont icon-you"></i></li>
                </ul>           
            </div>    

        </div>
    </div>    
</template>
<script>
    import mheader from '../mheader/mheader.vue'
    import {mapState, mapMutations} from 'vuex'
    import './wallet.scss'
    import HttpClient from '../../utils/HttpClient.js'
    import store from "../../vuex/store.js"
    // import HttpClient from '../../utils/HttpClient.js'
     export default {
        name:'depositLeft',
        components:{
            mheader
        },
        data(){
            return {
                address:'',
                targetNames:[],
                amount:'',
                password:'',
                note:'',
                wallets: [],
                walletsShow: false,
                right:"<i class='fa fa-exclamation-circle'></i>"
            }
        },
        methods:{
            // confirmRefe: function(){
            //     if(this.changeType() != "" && this.changeType() != '0'){
            //         if(this.amount != '' && this.password !=''){
            //             HttpClient.post('api/withdrawCoinApply/apply',{
            //                 imei:store.state.imei,
            //                 address:this.changeType(),
            //                 amount:this.amount,
            //                 password:this.password,
            //                 note:this.note
            //             }).then((result) => {
            //                 console.log(result)
            //             }).catch((err) => {
            //                 alert(err.message)
            //             });
            //         }else{
            //             alert('请填写完整的信息')
            //         } 
            //     }else {
            //         alert('请填写正确的提币地址')
            //     } 
            // },
            // showWallets:function(){

            // },
            // getthirdPartyWallet: function() {
            //     HttpClient.get('api/thirdPartyWallet/getWallets',{
            //         imei:store.state.imei
            //     }).then((result) => {
            //         this.targetNames = result.data;
            //         // console.log(result)
            //     }).catch((err) => {
            //         console.log(err)
            //     });
            // },
            // changeType :function(){
            //     return this.targetId;
            // },
            confirmRefe(){
                if(!this.address){
                    return alert('请输入或选择钱包地址')
                }
                if(!this.amount){
                    return alert('请输入提取权益值')
                }      
                if(!this.password){
                    return alert('请输入密码')
                }              
                HttpClient.post('api/withdrawCoinApply/apply', {
                    imei: store.state.imei,
                    address: this.address,
                    amount: this.amount,
                    password: this.password,
                    note: this.note
                }).then(res => {
                    alert('提交申请成功');
                    this.$router.push({name: 'Mdeposit'})
                })
            },
            showWallets(){
                HttpClient.get('api/thirdPartyWallet/getWallets', {imei: store.state.imei}).then(res => {
                    this.wallets = res.data;
                    this.walletsShow = true;
                })                
            },
            selectWallet(wallet){
                this.address = wallet.address;
                this.targetId = wallet.id;
                this.walletsShow = false;
            },
            fetchMax(){
                HttpClient.get('api/userWallet/getWalletInfo', {imei: store.state.imei}).then(res => {
                    this.value = res.data.availableAmount;
                })
            }
            
        },
        mounted() {
        //    this.getthirdPartyWallet()
        }
    }
</script>

<style lang="scss" scoped>
    .deposit{
        height: 100%;
        display: flex;
        flex-direction: column;
        .depositcontent{
            flex: 1;
        }
    }
</style>




