<template>
    <div class="more">
        <mheader title="收益详情" :back="{event: () => {$router.push({name: 'comput'})}}"/>
        <pull-refresh subcontainer=".datelist" :callback="() => {this.getIncome()}">
            <ul class="datatitel">
                <li>时间</li>
                <li>时长</li>
                <li>收益金额</li>
            </ul>
            <ul class="datelist">
                <li v-for="(item,index) in dataList" :key="index">
                    <span>{{item.day | dataFrm}}</span>
                    <span>{{(item.revenuesNumber / 1000 / 60 / 60).toFixed(2)}}小时</span>
                    <span>{{(item.income * 1).toFixed(4)}}</span>
                </li> 
               <li class="last" v-if="pageInfo.page < pageInfo.pageCount" @click="getIncome(pageInfo.page + 1)">加载更多...</li>
            </ul>
            <!-- <ul class="load_more" v-if="pageInfo.page < pageInfo.pageCount" @click="getIncome(pageInfo.page + 1)">
                <li>加载更多...</li>
            </ul> -->
        </pull-refresh>
    </div>
</template>
<script>
import mheader from '../mheader/mheader.vue'
import '../subpage1/more.scss'
import {mapState, mapMutations} from 'vuex'
import HttpClient from '../../utils/HttpClient.js'
import moment from 'moment'
import store from '../../vuex/store.js'
import pullRefresh from '../pullRefresh/pullRefresh.vue'

export default {
    components:{
        mheader,
        pullRefresh
    }, 
    data(){
        return {
            dataList:[],
            pageInfo: {   
                page: 1,
                pageSize: 10,
                totalCount: 0,
                pageCount: 0
            }
        }
    },
    filters:{
        dataFrm:function(el){
            return moment(el).format('YYYY/MM/DD')
        }
    },
    methods: {
        ...mapMutations({
            update_direction: 'appModule/update_direction',
            setBack: 'mheaderModule/setBack',
            goBack: 'mheaderModule/goBack'
        }), 
        getIncome(p){
            HttpClient.get('api/dayIncome/pageList', {
                imei: store.state.imei,
                page: p || 1,
                pageSize: 10
            }).then(res => { 
                this.pageInfo.page = res.data.page * 1;
                this.pageInfo.pageSize = res.data.pageSize * 1;
                this.pageInfo.totalCount = res.data.totalCount;
                this.pageInfo.pageCount = res.data.pageCount;
                if(this.pageInfo.page > 1){
                    this.dataList = this.dataList.concat(res.data.data);
                } else {
                    this.dataList = res.data.data;
                }
                
                for(let i = 0; i < this.dataList.length; i++){
                    if(i + 1 == this.dataList.length){
                        this.dataList[i].profit = 100;
                    } else {
                        this.dataList[i].profit = ((this.dataList[i].income - this.dataList[i + 1].income) / 1).toFixed(2) * 1;
                    }                   
                }
            })
        } 
    },
    mounted() {
        this.getIncome();
    }
}
</script>

