.more{
    height: 100%;
    display: flex;
    flex-direction: column;
    .datatitel{
        height: 0.45rem;
        display: flex;
        align-items: center;
        border-bottom: 3px solid #00619e;
        margin-top: 81px;
        li{
            color: #ccc;
            flex: 1;
            font-size: 0.15rem;
            text-align: center;
        }
        li:nth-child(1){
            padding-left: 20px;
        }
        li:nth-child(2){
            padding-right: 20px;
        }
    }
    .datelist{
        position: absolute;
        width: 100%;
        top: 1.2rem;
        bottom: 0;
        overflow-y: auto;
        flex: 1;
        overflow: auto;
        li{
            height: 0.46rem;
            border-bottom: 1px solid #00619e;
            display: flex;
            align-items: center;
            span{
                flex: 1;
                text-align: center;
                font-size: 0.12rem;
            }
            span:nth-child(1){
                padding-left: 20px;
            }
            span:nth-child(2){
                padding-right: 20px;
            }
        }
        li.last{
            display: block;
            line-height: 0.46rem;
            text-align: center;
            border-bottom: none;
        }
    }
}