<template>
    <div class="backup">
        <mheader title="备份私钥" :back="{event: () => {$router.push({name: 'comput'})}}"/>

        <li class="form_text">
            {{$route.params.pkey}}
        </li>
        <li class="form_element">
            <input type="button" class="form_btn" value="复制" @click="$showToast({text: '复制成功', position: 'bottom-center'})" :data-clipboard-text="$route.params.pkey">
        </li>        
    </div>
</template>

<script>
    import './privateKey.scss'
    import mheader from '../mheader/mheader.vue'
    import {mapState} from 'vuex'
    import Clipboard from 'clipboard';

    export default{
        components: {
            mheader
        },
        computed:{
            ...mapState({
                imei: state => state.appModule.imei
            })
        },
        mounted() {
            new Clipboard('.form_btn')
        }   
    }
</script>