.backup{
    .form_text{
        width: 100%;
        height: 78px;
        line-height: 78px;
        text-align: center;
        // background: #8b62fd;
        color: #fff;
        font-size: 22px;
        margin-top: 110px;
    }

    .form_element{
        text-align: center;
    }

    .form_btn{
        width: 92%;
        background: #be3531;
        height: 42px;
        border-radius: 5px;
        border-color: #be3531;
        color: #fff;
        font-size: 16px;
    }    
}