<template>
  <div class="changePwd">
    <mheader title="忘记密码" />
    <div class="form1">
      <form>
        <div class="form-list">
          <input type="text"
                 v-model="mnemonic"
                 placeholder="请输入私钥">
        </div>
        <div class="form-list">
          <input type="password"
                 v-model="password"
                 placeholder="请输入新密码">
        </div>
        <div class="form-list">
          <input type="password"
                 v-model="confirmPassword"
                 placeholder="请确认新密码">
        </div>
        <div class="form-list combtn"
             style="text-align:center">
          <input type="button"
                 value="确认"
                 @touchstart="Conformation">
          <input type="button"
                 @touchstart="goBack"
                 value="取消">
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import mheader from '../mheader/mheader.vue'
import '../subpage1/changePsw.scss'
import { mapState, mapMutations } from 'vuex'
import HttpClient from '../../utils/HttpClient.js'
import store from "../../vuex/store.js"

export default {
  components: {
    mheader
  },
  data () {
    return {
      mnemonic: '',
      password: '',
      confirmPassword: '',
      isShow: true
    }
  },
  methods: {
    ...mapMutations({
      update_direction: 'appModule/update_direction',
      setBack: 'mheaderModule/setBack',
      goBack: 'mheaderModule/goBack'
    }),
    // 点击确认按钮时候的功能函数
    Conformation () {
      HttpClient.post('api/user/resetPwd', {
        "imei": store.state.imei,
        "mnemonic": this.mnemonic,
        "password": this.password,
        "confirmPassword": this.confirmPassword
      }).then((result) => {
        if (result.code == 1) {
          alert('修改密码成功');
          this.goBack();
        } else {
          alert(result.message);
          this.mnemonic = "";
          this.password = "";
          this.confirmPassword = ""
        }
      });
    }
  },
}
</script>



