.wallet,.deposit{
    width:100%;
    height: 100%;
    flex-direction: column;

    .contentMenu{
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(#010522, #093c5f, #010522);
        box-shadow: 0px 0px 15px 8px #042e54 inset;
        transform: translateX(100%);
        transition: transform .3s;

        .address_list{
            position: absolute;
            top: 81px;
            bottom: 0;
            width: 100%;
        }
        ul{
            height: 58px;
            width: 100%;
            color: #fff;
            border-bottom: solid 1px #5d4e7e;
    
            li{
                text-overflow: ellipsis;
                overflow: hidden;
            }
    
            li{
                line-height: 58px;
            }
    
            i{
                font-size: 22px;
            }
        }        
    }

    .contentMenu.active{
        transform: translateX(0);
    }   

    .form1{
        position: fixed;
        top: 81px;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid #003766;
        box-shadow: 0px 0px 15px 8px #042e54 inset;
        overflow: auto;
        form{
            overflow: hidden;
            padding-top: 50px;
            // border: 2px solid #003766;
            // box-shadow: 0px 0px 15px 8px #042e54 inset;
        }
        .form-list{
            width: 80%;
            color: #ccc;
            margin: 30px auto;
            position: relative;
            input,select{
                border: 2px solid rgb(0, 99, 153);
                background: transparent;
                font-size: 0.13rem;
                padding: 0 10px;
                width: 100%;
                height: 40px;
            }

            p{
                position: absolute;
                right: 5px;
                top: 0;
                margin: 0;
                height: 100%;
                line-height: 40px;
                width: 26px;
                text-align: right;
                color: #fff;
                padding: 3px 5px 0 0 ;
            }

        }
        .combtn{
            display: flex;
            justify-content: space-between;
            input{
                background: #002749;
                color: #fff;
                border: 2px solid #1b6195;
                width: 100%;
                border-radius: 15px;
                height: 0.37rem;
                text-align: center;
                font-size: 0.15rem;
            }
        }
        
      
    }
}