<template>
    <div class="wallet">
        <div class="wallet_manage">
            <mheader title="我的钱包"/>
            <ul class="message">
                <li v-for="(obj,index) in wallet" :key="index" >
                    <h4 class="name">{{obj.name}}</h4>
                    <div class="details">
                        <span>{{obj.address}}</span>
                        <span>{{obj.id}}</span>
                    </div>
                    <div class="edit" >
                        
                        <div class="edit_r" :wid="obj.id">
                            <span class="glyphicon glyphicon-pencil"  @touchstart="edit">编辑</span>
                            <span class="glyphicon glyphicon-trash" @touchstart="del">删除</span>
                        </div>
            
                    </div>
                </li>
            </ul>
            <div class="addWallet" :wid="''">
                <span  @touchstart="edit">添加新钱包</span>
            </div>
        </div> 
        <div class="wallet_edit" :class="editstate?'editshow':''">
            <mheader :title="wid?'编辑钱包':'添加钱包'" />
            <div class="form1">
                <form>
                    <div class="form-list">
                        <input type="text" v-model="walletName"  placeholder="钱包名字">
                    </div>
                    <div class="form-list">
                        <input type="text" v-model="walletAddress" placeholder="钱包地址" >
                    </div>
                    
                    <div class="form-list combtn" style="text-align:center">
                        <input type="button" value="保存" @touchstart="save">
                        <input type="button" value="取消" @touchstart="closeEdit">
                    </div>
                </form>
            </div>
        </div>    
    </div>  
</template>
<script>
    import mheader from '../mheader/mheader.vue'
    import '../subpage1/wallet_manage.scss'
    import {mapState, mapMutations} from 'vuex'
    import store from "../../vuex/store.js"
    import db from '../../utils/db'
    import $ from 'jquery'

    import httpClient from '../../utils/HttpClient.js'


    export default{
        components:{
            mheader
        }, 
        data(){
            return {
                editstate : 0,
                wid : "",
                wallet : [],
                walletName : "",
                walletAddress : ""
            }
        },
        inject : ['reload'],

        methods: {
            ...mapMutations({
                update_direction: 'appModule/update_direction',
                setBack: 'mheaderModule/setBack',
                goBack: 'mheaderModule/goBack'
            }),
            Conformation (){
            },
            edit: function(e){
                this.editstate =1;
                this.wid = e.target.parentNode.getAttribute("wid");
                if(this.wid != ""){
                    httpClient.get("api/thirdPartyWallet/getById",
                    {
                        "id":this.wid
                    }).then((res)=>{
                        console.log(res)
                        this.walletName = res.data.name;
                        this.walletAddress = res.data.address;
                    })
                }

            },
            closeEdit:function(){
                this.editstate =0;
            },
            save: function(){
                if(this.walletName.trim() == '' || this.walletAddress.trim() == ''){
                    alert("请认真填写信息");
                    return;
                }
                if(this.wid == ''){
                    httpClient.post("api/thirdPartyWallet/create", 
                    {
                        "imei": store.state.imei,
                        "name": this.walletName,
                        "address":  this.walletAddress,
                        "note": ""
                    }).then((res)=>{
                        console.log(res)
                    })  
                }else if(this.wid != ''){
                    console.log(this.walletName);
                    httpClient.post("api/thirdPartyWallet/update", 
                    {
                        "imei": store.state.imei,
                        "id":this.wid,
                        "name": this.walletName,
                        "address":  this.walletAddress,
                        "note": ""
                    }).then((res)=>{
                        console.log(res);
                    }) 
     
                }
                this.editstate = 0;
                this.wid = "";
                this.reload();
            
            },
            del : function(e){
                store.state.wid = e.target.parentNode.getAttribute("wid");
                $.ajax({
                    url: 'http://54.191.67.56/api/thirdPartyWallet/'+store.state.wid,
                    type: 'DELETE',
                    success: (result) =>{
                        var i = 0;
                        this.wallet.some(function(item,idx){
                            i = idx;
                            return item.id == store.state.wid;
                        })
                        console.log(this.wallet);
                        this.wallet.splice(i,1);
                    }
                });
            }
        },
        mounted : function(){
            httpClient.get("api/thirdPartyWallet/getWallets",{"imei":store.state.imei}).then((res)=>{
                    this.wallet = res.data;
                })
        }
    }
</script>



