$liPadding:0 0.14rem;
.wallet{
    height: 100%;
    .wallet_manage{
        height: 100%;
        display:flex;
        flex-direction:column;
        ul.message{
            flex:1;
            overflow-x:hidden;
            margin-top: 81px;
            li{
                line-height:0.26rem;
                border-bottom: 0.1rem solid rgba(12, 111, 128, 0.34901960784313724);
            }
            h4{
                font-size: 0.18rem;
                line-height:0.26rem;
                padding:$liPadding;
            }
            .details{
                font-size:0.14rem;
                display:flex;
                justify-content:space-between;
                padding:$liPadding;
                justify-content: space-between;
                border-bottom: 0.01rem solid rgba(12, 111, 128, 0.34901960784313724);
                span{
                    width: 45%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow:hidden;
                }
            }
            .edit{
                display:flex;
                line-height: 0.4rem;
                padding:$liPadding;
                justify-content:space-between;
                input{vertical-align:middle;}
                span{vertical-align:middle;padding-left:0.08rem;
                    &:before{
                        padding-right:0.03rem;
                    }
                }
            }

        }
        .addWallet{
            width: 100%;
            height: 0.6rem;
            background:#02102e;
            position:relative;
            span{
                width: 80%;
                height: 0.4rem;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background: rgba(27, 81, 125, 0.1);
                text-align: center;
                line-height: 0.4rem;
                border-radius: 8px;
                font-size: 0.16rem;
                border: 2px solid #006399;
            }

        }
        
    }
    .wallet_edit{
        position:absolute;
        display:none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background:linear-gradient(#010522, #093c5f, #010522);
        .form1{
            position: fixed;
            top: 81px;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid #003766;
            box-shadow: 0px 0px 15px 8px #042e54 inset;
            overflow: auto;
            form{
                overflow: hidden;
                padding-top: 50px;
                // border: 2px solid #003766;
                // box-shadow: 0px 0px 15px 8px #042e54 inset;
            }
            .form-list{
                width: 80%;
                color: #ccc;
                margin: 30px auto;
                input,select{
                    border: 2px solid rgb(0, 99, 153);
                    background: transparent;
                    font-size: 0.13rem;
                    padding: 0 10px;
                    width: 100%;
                    height: 40px;
                }
            }
            .combtn{
                display: flex;
                justify-content: space-between;
                input{
                    background: #002749;
                    color: #fff;
                    border: 2px solid #1b6195;
                    width: 47%;
                    border-radius: 15px;
                    height: 0.37rem;
                    text-align: center;
                    font-size: 0.15rem;
                }
            }   
        }  
    }
    .editshow{
        display:block;
    }
}
