.vue-pull-refresh-msg {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    font-size: 22px;
    box-shadow: 0px 0px 9px #888888;
    background: #fff;
    margin: auto;
    position: fixed;
    z-index: 99999;
    left: 50%;
    transform: translate3d(-50%, -38px, 0px);
    transition: 330ms;
    -webkit-overflow-scrolling: touch;    
}