<template>
  <div ref="container" class="vue-pull-refresh">
    <div class="vue-pull-refresh-msg" ref="container_refresh">
        <i class="fa fa-circle-o-notch fa-spin" style="color:#000"></i>
    </div>
    <slot></slot>
  </div>
</template>
<script>

    import './pullRefresh.scss'

    export default {
        props: {
            callback: { // 刷新函数
                type: Function,
                required: false
            },
            subcontainer: {
                type: String
            }
        },
        data() {
            return {
                msg: '',
                flag: 0, // 表示是否达到刷新条件
                loading: 0,  // 表示是否正在刷新中
                touchStart: 0,  // 手指触摸屏幕的起点
                distance: 0     // 手指滑动的距离
            }
        },
        mounted() {
            const container = this.$refs.container
            const container_refresh = this.$refs.container_refresh;
            container.addEventListener('touchstart', (e) => {
                this.touchStart = e.targetTouches[0].clientY
            })
            container.addEventListener('touchmove', (e) => {
                // 如果没有触摸起始点，返回
                if (!this.touchStart) {
                    return
                }
                if(this.subcontainer){
                    let $target = this.$jq(e.target);
                    let $subcontainer = this.$jq(this.subcontainer);
                    if($target.is(this.subcontainer)|| $target.closest(this.subcontainer)[0]){
                        if($subcontainer.scrollTop() > 0){
                            return;
                        }
                    }
                }
                const touch = e.targetTouches[0]
                const scrollTop = container_refresh.scrollTop
                if (scrollTop === 0) {
                    this.distance = touch.clientY - this.touchStart
                    if (this.distance > 0) {
                        e.preventDefault()
                        if (this.distance < 80) {
                            container_refresh.style.transform = 'translate3D(-50%, ' + this.distance +'px, 0px)'
                                if (this.distance > 55) {
                                    this.msg = '释放刷新'
                                    this.flag = 1
                                } else {
                                    this.msg = '下拉刷新'
                                }
                        }
                    }     
                }
            })
            container.addEventListener('touchend', (e) => {
                if (this.distance === 0) {
                    return
                }
                if (this.flag && this.distance > 0) {
                    this.flag = 0
                    this.loading = 0
                    // container_refresh.scrollTop = 0
                    container_refresh.style.transform = 'translate3d(-50%, -38px, 0px)';
                    if(this.callback){
                        this.callback();
                    }
                    return
                }
                // 重置变量
                this.flag = 0
                // container.style.overflow = 'auto'
                container_refresh.style.transform = 'translate3d(-50%, -38px, 0px)'
            })
        }
    }
</script>
