<template>
    <div class="mheader"  style="padding-top:48px;">
        <div @touchstart="goBack"><i class="fa fa-angle-left fa-2x"></i></div>
        <div>{{title}}</div>
        <div class="mheader-right">
            <router-link to="/Mdeposit"  v-html="right"></router-link>
        </div>
    </div>
</template>

<script>
    import './mheader.scss'
    import {mapState, mapMutations} from 'vuex'

    export default{
        props: ['title','right', 'back'],
        methods: {
            rightEvent(){
                if(this.right && this.right.event){
                    this.right.event();
                }
            },
            ...mapMutations({
                update_direction: 'appModule/update_direction',
                setBack: 'mheaderModule/setBack',
                goBack: 'mheaderModule/goBack'
            }),
            // home:function(){
            //     this.$router.push({path:"/comput"});
            // }
        },
        mounted(){
            if(this.back && this.back.event){

                this.setBack({event: this.back.event});
            } else {
                this.setBack({
                    event: () => {
                        this.$router.go(-1)
                    }
                });
            }           
        }
    }
</script>
