@import '../../assets/common/theme.scss';

.mheader{
    height: 46px;
    color: $fontcolor;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 52px;
    padding-top: 35px !important;
    box-sizing: content-box;
    background: url(../../../static/headerbg.png);

    .iconfont{
        font-size: 18px;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div:nth-child(1){
        width: 60px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            font-size: 30px;
        }
    }
    div:nth-child(2){
        flex-grow: 3;
        text-align: center;
        font-size: 18px;
    }
    div:nth-child(3){
        text-align: right;
        width: 60px;
        a{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: #fff;
            i{
                font-size: 25px;
            }
        }
        span{
            color:#fff;
        }
    }
}