.user{
    .income{
        height: 2.2rem;
        padding: 0.1rem;
        background: url(../../../static/user1.png) no-repeat;
        background-size: contain;
        background-origin: content-box;
        text-align: center;
        position: relative;
        h3{
            padding-top: 10px;
            line-height: .3rem;
        }
        h2{
            font-size: 0.5rem;
            margin-top: 10px;
        }
        .allcolor{
            color: #1e9af2;
            
        }
        div{
            position: absolute;
            bottom: 0.65rem; 
            font-size: 0.15rem;
        }
        .available{
            left: 0.2rem;    
        }
        .userdeposit{
            right: 0.2rem;
        }
    }
    .funlist{
        display: flex;
        flex-wrap: wrap;
        li{
            width: 33.33%;
            height: 1.2rem;
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    width: 1.2rem;
                    height: 0.8rem;
                    margin-bottom: 10px;
                    background: url(../../../static/user2.png) no-repeat center;
                    background-size: contain;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        display: block;
                        font-size: .4rem;
                        color: #fff;
                    }
                }
                span{
                    font-size: 0.15rem;
                    color: #ccc;
                }
            }
            
        }
    }
}

