<template>
    <div class="user"> 
        <div class="income">
            <h3>总收益</h3>
            <h2 class="allcolor">{{amount}}</h2>
            <div class="available">
                <span>当前收益:</span>
                <span class="allcolor">{{availableAmount}}</span>
            </div>
            <div class="userdeposit">
                <span>已提取收益:</span>
                <span class="allcolor">{{withdrawAmount}}</span>
            </div>
        </div>
        <ul class="funlist">
            <li>
                <router-link to="/changePSW">
                    <p>
                        <i class="fa fa-refresh fa-spin"></i> 
                    </p>
                    <span>重置密码</span>
                </router-link>
            </li>
            <li>
                <router-link to="/deposit">
                    <p>
                        <i class="fa fa-check-square"></i> 
                    </p>
                    <span>提取收益</span>
                </router-link>
            </li>
            <li>
                <router-link to="/wallet_manage">

                    <p>
                        <i class="fa fa-cog fa-spin"></i> 
                    </p>
                    <span>设置钱包</span>
                </router-link>
            </li>
            <li>
                <router-link to="/resetPwd">
                    <p>
                        <i class="fa fa-key"></i> 
                    </p>
                    <span>忘记密码</span>
                </router-link>
            </li>
            <li @click="backup">
                <a href="#">
                    <p>
                        <i class="fa fa-legal "></i> 
                    </p>
                    <span>备份私钥</span>
                </a>
            </li>
            <li @touchstart="check_versions">
                <a href="javascript:void(0);">
                    <p>
                        <i class="fa fa-exclamation-circle"></i> 
                    </p>
                    <span>检查版本</span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
import './user.scss'
import HttpClient from '../../utils/HttpClient.js'
import store from '../../vuex/store.js'
export default {
    data(){
        return {
            availableAmount:'',
            withdrawAmount:'',
            amount:''
        }
    },
    methods:{
        getAmount: function(){
            HttpClient.get('api/userWallet/getWalletInfo',{
                'imei':store.state.imei
            }).then((result) => {
                console.log(result.data)
                this.availableAmount = result.data.availableAmount.toFixed(4);
                this.amount = result.data.amount.toFixed(4);
                this.withdrawAmount = result.data.withdrawAmount.toFixed(4);
            }).catch((err) => {
                console.log(err)
            });
        },
        check_versions:function(){
            if(store.state.isStart){
                    store.state.isShow = 1;
                    alert('当前版本为' + store.state.currversion + '，已经是最新版本。')
                }else{
                    if(confirm('请下载最新版本')){
                        // console.log(store.state.updateUrl)
                        // 跳转到下载页面
                        plus.runtime.openURL('http://www.cminerok.com/api/applicationRelease/download')
                    }else{
                        // 退出app
                        // plus.runtime.quit();
                    }
                }
        },
        backup(){
            this.$jq.confirm({
                title: '请输入密码',
                content: '<input type="password" class="form-control" id="wallet_pwd"/>',
                confirm: async () => {
                    let password = this.$jq('#wallet_pwd').val().trim();
                    if(password.length < 6){
                        this.$jq.alert('请输入不少于6位数的密码')
                        return false;
                    }
                
                    try{  
                        HttpClient.post('api/user/backupMnemonic', {imei: store.state.imei, password}).then(res => {

                            this.$router.push({name: 'privateKey', params: {pkey: res.data}});
                        })                           
                    } catch (e){
                        
                    }             
                }
            })                   
        }           
    },
    mounted(){
        this.getAmount();
    }
}
</script>
