.mine{
    .Tncome{
        width: 2rem;
        height: 2rem;
        border: 1px solid #105c8e;
        border-bottom: none;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px 4px #3988c1 inset;
        // border-radius: 50% 50% 6% 6%/75% 75% 34% 34%;
        border-radius: 50%;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{   
            font-size: .15rem;
        }
        h3{
            font-size: 0.45rem;
            margin-top: 18px;
            color: #1e9af2;
        }

    }
    .morebtn{
        width: 40%;
        position: fixed;
        left: 50%;
        margin-left: -20%;
        margin-top: -20px;
        text-align: center;
        line-height: 0.4rem;
        font-size: 0.15rem;
        color: #fff;
        z-index: 10000;
    }
}