<template>
    <div class="mine"> 
        <div class="Tncome">
            <h2>今日收益</h2>
            <h3>{{todayData}}</h3>
        </div>
         <div class="chart" ref="chartOne" :style="{width: '100%', height: '300px',marginTop:'-40px'}"></div>
         <router-link to="/more" class="morebtn">查看更多收益</router-link>
    </div>
</template>

<script>
    import './mine.scss'
    import HttpClient from '../../utils/HttpClient';
    import store from '../../vuex/store.js'
    //引入Echarts主模块
    let echarts=require('echarts/lib/echarts');
    //引入柱状图
    require('echarts/lib/chart/bar');
    //引入所需组件
    require('echarts/lib/component/tooltip');
    require('echarts/lib/component/legend');
    export default {
    name:'mine',
    data () {
      return {
          dataDate:[],
          dataList:[],
          todayData:''
          
      }
    },
    
    methods:{
        // 获取今日收益的请求
        getTodayData: function(){
            HttpClient.get('api/dayIncome/getTodayIncome',
                {'imei':store.state.imei}).then((result) => {
                    console.log(result)
                    this.todayData = result.data.amount.toFixed(4);
                }).catch((err) => {
                    console.log(err)
                });
        },
        getSevenData : function (){
            // this.createChartOne();
            HttpClient.get('api/dayIncome/getRecent7DayIncome',
            {'imei':store.state.imei}).then((result) => {
                let arry = result.data;
                arry.map(((item, index)=> {
                    this.dataDate.push(item.day.substr(item.day.indexOf('-')+1).replace('-','月'));
                    this.dataList.push(item.amount)
                }))
                this.createChartOne();
            }).catch((err) => {
                console.log(err);
                // this.createChartOne();
            });
        },
      /*创建图表一*/
        createChartOne(){
            let chartOne=echarts.init(this.$refs.chartOne);
            chartOne.setOption({
                tooltip: {
                    trigger: 'item'
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataView: {show: true, readOnly: false},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                calculable: true,
                grid: {
                    borderWidth: 0,
                    y: 80,
                    y2: 80
                },
                xAxis: [{
                        type: 'category',
                        boundaryGap : false,
                        data: this.dataDate,
                        axisLabel: {
                            show: true,
                            textStyle: {
                                color: '#fff'
                            }
                        }
                    }],
                yAxis: [
                    {
                        type: 'value',
                        show: false
                    }
                ],
            series: [{
                    name: '每天收益记录',
                    type: 'bar',
                    itemStyle: {
                        normal: {
                            color: function(params) {
                                // build a color map as your need.
                                var colorList = [
                                '#03A9F4','#03A9F4','#03A9F4','#03A9F4','#03A9F4',
                                '#03A9F4','#03A9F4'];
                                return colorList[params.dataIndex]
                            },
                            label: {
                                show: true,
                                position: 'top',
                                // 显示在柱形图上方的模块
                                formatter: '{c}'
                            }
                        }
                    },
                    data: this.dataList,
                }]
            })
        }

    },
    mounted(){
        this.getSevenData();
        this.getTodayData();
    },
  }
</script>