@import '../../assets/common/theme.scss';

/*初始状态*/
.fade-enter{opacity: 0;}
/*已经准备就绪*/
.fade-enter-active{transition: all .2s;}
/*已经消失*/
.fade-leave-active{opacity: 0; transition: all .2s;}

.main{
    display: flex;
    flex-direction:column; 
    height: 100%;
    
    .header{
        display: flex;
        height: 1rem;
        z-index: 100;
        background: rgba(0, 16, 64, 0.46);
        li{
            display: flex;
            justify-content: center;
            font-size: 0.14rem;
            span{
                margin-bottom: 8px;
            }
        }
        li:nth-child(1){
            flex: 1;
            display: flex;
            align-items: center;
            img{
                width: 0.444rem;
                height: 0.4rem;
            }
        }
        li:nth-child(2){
            flex: 3;
            flex-direction: column;
        }
        li:nth-child(3){
            flex: 1;
            flex-direction: column;
            span{
                color: #fff;
            }
        }
    }
    .content{
        flex: 1;
        overflow: auto;
    }

    .tabs{
        padding: 0;
        margin: 0;
        z-index: 999;
        height: .58rem;
        border-top: solid 1px #006399;
        font-size: 14px;
        padding-top: 5px;
        // background: url(../../../static/headerbg.png);
        background: rgba(0, 16, 64, 0.46);
        display: flex;
        li{
            flex: 1;
            a {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 100%;
                height: 100%;
                color: #fff;
                border: none;
                box-shadow: none;
                -webkit-touch-callout: none;
                user-select: none;
                -webkit-tap-highlight-color: none;
                font-size: 0.12rem;
            }
            text-align: center;
            i{
                font-size: 0.23rem;
            }
        }
        a.router-link-actived{
            color: $maincolor;
        }
    }
}