<template>
    <div class="main" id="main-body">
        <ul class="header"  style="padding-top:45px;">
            <li>
                <img src="../../../static/list.png" alt="">
            </li>
            <li>
                <span>矿工：{{userName}}</span>
            </li>
            <!-- <li>
                <span>INSUR</span>
                <span>0</span>
            </li> -->
        </ul>
		<transition :name="direction == 'forward' ? 'view-in' : 'view-out'">
            <div class="content">
                 <router-view :computData="computedData"></router-view>
            </div>
		</transition>        
        <ul class="tabs">
            <li > 
                <router-link to="/comput" >
                    <i class="fa fa-cubes"></i> 
                    <span>矿区</span>
                </router-link> 
            </li> 
            <li>
                <router-link to="/mine"> 
                    <i class="fa fa-life-bouy"></i> 
                    <span>我的收益</span>
                </router-link>
            </li>
            <li>
                <router-link to="/user">
                    <i class="fa fa-cog"></i> 
                    <span>用户</span>
                </router-link> 
            </li>
        </ul>
    </div>
</template>

<script>
    import './main.scss'
    import {mapState, mapMutations} from 'vuex'
    import store from "../../vuex/store.js"
    import HttpClient from '../../utils/HttpClient.js'
    import indexdb from '../../utils/db.js'

    export default{
        computed:{
      		...mapState({
                direction: state => state.appModule.direction
      		})
        },
         props:['computedData'],
        data (){
            return {
                userName:'111'
            }
        },
        methods:{ 
            getUser (){
               indexdb.select('imei',1).then((result) => {
                   if(result.id){
                       HttpClient.get('api/user/getUserInfo',{
                            'imei':result.imei,
                            'rand':Math.random()*10000
                        }).then((result) => {
                            console.log(result)
                            this.userName = result.data.userName;
                        }).catch((err) => {
                            console.log(err)
                        });
                   }
               }).catch((err) => {
                   
               });
                
            }
        },
        mounted (){
            this.getUser();
        }         
    }
</script>