<template>
    <div class="fetchdetail">
        <mheader title="提取权益明细"/>

        <div class="fetch_info" style="padding: 0 15px;">
            <ul>
                <li>提取日期</li>
                <li>{{moment(detail.creationTime).format('YYYY-MM-DD hh:mm:ss')}}</li>
            </ul>
            <ul>
                <li>交易Hash</li>
                <li>0x000000000000000000000000000000000000000</li>
            </ul>        
            <ul>
                <li>钱包地址</li>
                <li>{{detail.address}}</li>
            </ul>    
            <ul>
                <li>权益值</li>
                <li>{{detail.amount}}</li>
            </ul>   
            <ul>
                <li>手续费</li>
                <li>{{detail.handlingFee}}</li>
            </ul>            
            <ul>
                <li>状态</li>
                <li>{{detail.auditState == 0 ? '等待' : detail.auditState == 1 ? '确认中' : '成功'}}</li>
            </ul>    
            <ul>
                <li>备注</li>
                <li>{{detail.note}}</li>
            </ul>    
            <ul style="border: none;">
                <li class="form_element">
                    <input type="button" class="form_btn" value="在区块链浏览器查看" @click="openBrowser(detail.hash)">
                </li>             
            </ul> 
        </div>
                             
    </div>
</template>

<script>
    import './fetchdetail.scss'
    import mheader from '../mheader/mheader.vue'
    import {mapState} from 'vuex'
    import moment  from 'moment'
    import http from '../../utils/HttpClient.js'

    export default{
        components: {
            mheader
        },
        computed:{
            ...mapState({
                imei: state => state.appModule.imei
            })
        },
        data(){
            return {
                moment,
                detail: {}
            }
        },
        mounted() {
            http.get('api/withdrawCoinApply/getById', {id: this.$route.params.id}).then(res => {
                this.detail = res.data;
            })
        },
        methods: {
            openBrowser(hash){
                plus.runtime.openURL(`https://etherscan.io/tx/${hash}`);
            }            
        }
    }
</script>