.fetchdetail{
    .fetch_info{
        position: absolute;
        top: 98px;
        bottom: 0;
        width: 100%;
        
    }

    ul{
        height: 58px;
        width: 100%;
        color: #7b6e96;
        padding: 10px 0;
        position: relative;

        li{
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0 15px;
        }

        li:first-child{
            color: #676a6c;
        }
        li:last-child{
            color: #fff;
            font-size: 16px;
        }

        .form_element{
            padding: 0;
        }
        .form_btn{
            width: 100%;
            background: #be3531;
            height: 42px;
            border-radius: 5px;
            border-color: #be3531;
            color: #fff;
            font-size: 16px;
        }        
    }

    ul::before{
        content: '';
        position: absolute;
        border: 1px solid #7b6e96;
        transform: scaleY(0.1);
        box-sizing: border-box;
        left: 0;
        right: 0;
        bottom: 0;
    } 
}