.loadding-container{
    
    .loadding-mask{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0;
        z-index: 9988;
    }

    .loadding-content{
        position: fixed;
        background-color: #000;
        color: #fff;
        padding: 10px 15px;
        border-radius: 5px;
        opacity: 1;
        z-index: 9999;
        top: 50%;
        left: 50%;
        padding: 15px 20px;
        transform: translate(-50%, -50%);
        i{
            font-size: 22px;
        }
    }
}

