<template>
    <div class="loadding-container" v-if="show" >
        <div class="loadding-mask" v-if="modal"></div>
        <transition enter-active-class="animated  faster fadeIn" leave-to-class="animated faster fadeOut">
            <div class="loadding-content">
                <i class="fa fa-circle-o-notch fa-spin"></i>
            </div>
        </transition>
    </div>
</template>

<script>
    import './loadding.scss'

    export default{
        methods: {
            showup(){
                try{
                    plus.nativeUI.showWaiting();
                } catch(error) {
                    this.show = true;
                }                
            },
            close(){
                try{
                    plus.nativeUI.closeWaiting();
                } catch(error) {
                    this.show = false;
                }                  
            }
        },
        data(){
            return {
                modal: true,
                show: false
            }
        }
    }
</script>