@import 'theme.scss';

*{margin: 0; padding: 0;}
html{width: 100%; height: 100%;}
body{font-family:"open sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
    color:#fff; 
    width: 100%; 
    height: 100%; 
    font-size: 13px; 
    overflow: hidden;
}

.jconfirm{
    color: #000!important;
}

ul{padding:0; margin:0;}
li{list-style:none;}

#app{
    width: 100%; 
    height: 100%; 
    position: fixed;
    background: linear-gradient(#010522,#093c5f,#010522);
    
}

/*a*/
a, a:focus{color:#000;}
a:hover{text-decoration:none; color: $maincolor;}
a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a:link{text-decoration:none;}

input,textarea,select{outline: none !important;}

.list-group{
    border: none;
    .list-group-item{ 
        border-left: none; 
        border-right: none; 
        border-top-right-radius: 0; 
        border-top-left-radius: 0; 
        padding: 15px 15px;

        i:first-child{
            padding-right: 10px;
        }

        i:last-child{
            float: right;
        }
    }
}

input::-webkit-input-placeholder{
    color:#aaa;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#aaa;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#aaa;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#aaa;
}
