.activate {
    height: 100%;
    .activate_sub{
        height: 100%;
    }
        .box{
            width: 0.8rem;
            height: 0.8rem;
            margin: 0.6rem auto;
            position: relative;
            perspective: 3000px;
            transform-style: preserve-3d;
            animation:rotate3d 10s infinite linear;
        }
        
        .activate_sub{
            .form1{
                height: 100%;
                form{
                    height: 100%;
                    overflow: hidden;
                    padding-top: 20px;
                    border: 2px solid #003766;
                    box-shadow: 0px 0px 15px 8px #042e54 inset;
                }
                .form-list{
                    margin-bottom: .15rem;
                    width: 80%;
                    color: #ccc;
                    margin: 20px auto;
                    input{
                        border: 2px solid rgb(0, 99, 153);
                        background: transparent;
                        font-size: 17px;
                        padding: 0 10px;
                        width: 100%;
                        height: 40px;
                    }
                }
                .btn{
                    text-align: center;
                    width: 100%;
                    input{
                        background: rgba(2, 9, 19, 0.3);
                        color: #fff;
                        border: 2px solid #1b6195;
                        width: 87%;
                        height: 0.37rem;
                        text-align: center;
                        font-size: 0.18rem;
                        letter-spacing: 10px;
                    }
                    input:nth-child(1){
                        margin-right: 10px;
                    }
                    input:nth-child(2){
                        margin-left: 10px;
                    }
                }
                
            }
        }
 
}

.activate .box div{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    position: absolute;
    border-radius: 100%;
    transform-style: preserve-3d;
}

@for $i from 1 to 6{
    [aclass="yline_#{$i}"]{
        transform: rotateY($i*36deg);
    }
    [aclass="xline_#{$i}"]{
        transform: rotateX($i*36deg);
    }
}

@keyframes rotate3d{
    0%{transform:rotateY(0deg) rotateX(0deg);}
    100%{transform:rotateY(360deg) rotateX(360deg);}
}
