<template>
    <div class="activate">
        <!-- <mheader title="激活页"  /> -->
        
        <div class="activate_sub">

            <div class="form1">

                <form>
                    <div class="box" >
                        <div  v-for="(value,index) in 6"  :aclass="'yline_'+value" :key="10*index + 100">
                        </div>
                        <div  v-for="(value,index) in 6"  :aclass="'xline_'+value" :key="index"></div>
                    </div>
                    <div class="form-list">
                        <input type="text" v-model="username"  placeholder="用户名">
                    </div>
                    <div class="form-list">
                        <input type="password" v-model="password1" placeholder="请输入密码" >
                    </div>
                    <div class="form-list">
                        <input type="password" v-model="password2" placeholder="请确认密码" >
                    </div>
                    <!-- <router-link to="/"> -->
                        <div class="form-list btn" style="text-align:center">
                            <input type="button" class="btn btn-lg btn-primary" @touchstart = "activating" value="激活">
                        </div>
                    <!-- </router-link> -->
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import store from '../../vuex/store.js'
    import './activate.scss'

    import mheader from '../mheader/mheader.vue'    
    import httpClient from '../../utils/HttpClient.js'
    import indexedDB from '../../utils/db.js'
    export default {
        data(){
            return {
                username:'',
                password1:'',
                password2:'',
            }
        },
        components: {
            mheader
        },
        
        methods : {
            activating : function(){
                if(store.state.imei){
                    if(this.username !='' && this.password1 !='' && this.password2 != ''){
                        httpClient.post("api/user/activationUser", {
                            "imei": store.state.imei,
                            "userName": this.username,
                            "password":  this.password1,
                            "confirmPassword": this.password2
                        }).then((res)=>{
                            indexedDB.insert('imei',{id:1,'imei':store.state.imei});
                            alert('激活成功，请先备份私钥，私钥是找回密码的唯一途径。');
                            this.$router.push({ name: 'privateKey',params: {pkey: res.data}});

                        }).catch((res)=>{
                            console.log(res)
                            if(res.message == '设备已激活，无需再次激活'){
                                this.$router.push({ name: 'comput'});
                            }
                            this.username = '',
                            this.password1 = '',
                            this.password2 = ''
                        });
                    } else{
                        if(this.username == ''){
                            alert('请填写用户名')
                        }
                        if(this.password1 == '' || this.password2 == ''){
                            alert('请填写密码')
                        }
                    }
                } else{
                    console.log(store.state.imei)
                }   
            },

        }
    }
</script>