

$wrapWidth : 2.6rem;
$innerWidth : 2.1rem;
$wrapHuanWidth : 2.6rem;
$innerHuanWidth : 2.1rem;
       
.comput{
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
    .loading {
        width: $wrapWidth;
        height: $wrapWidth;
        position: relative;
        margin: 40px auto;
        .quan {
            border-radius: 50%;
            border: 1px solid #ccc;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            box-sizing: border-box;
            &::before {
                content: "";
                display: block;
                width: $wrapHuanWidth;
                height: $wrapHuanWidth/2;
                border-radius: 50% 50% 0 0 /100% 100% 0 0;
                border: 6px solid rgb(42, 161, 152);
                border-bottom: 0px solid transparent;
                transform-origin: center bottom;
                box-sizing: border-box;
                transform:translate(-3px,-3px)  rotate(-90deg);
                position: absolute;
                left: 0;
                top: 0;
            }
          }
        .wrap {
            width: $wrapWidth;
            height: $wrapWidth;
        }
        .inner {
            width: $innerWidth;
            height: $innerWidth;
            color: grey;
            line-height: $innerWidth;
            font-size:30px;
            text-align: center;
            overflow:hidden;
            &::before {
                width: $innerHuanWidth;
                height: $innerHuanWidth/2;
                border-color: rgb(133, 153, 0);
                // animation-duration: 1.5s;
            }
            &::after {
                content: "";
                display: block;
                border-radius: 50%;
                width: $innerWidth;
                height: $innerWidth;
                // background: radial-gradient(50% 50%, circle, rgba(72, 46, 175, 0.24) 10%, rgba(0, 4, 19, 0.7) 40%);
                animation: kuosan 10s linear infinite;
                position:absolute;
                left: 50%; 
                top: 50%;
                transform: translate(-50%,-50%);
                z-index:-10000;
            }
        }
        .zhuan::before{
            animation: zhuan 2.5s ease-in-out infinite;
        }
        .fastzhuan::before{
            animation: zhuan 1.5s ease-in-out infinite;
        }
        .fastzhuan::after{
            animation: kuosan 5s linear infinite;

        }
        .fastzhuan span{
            text-shadow:3px 3px 10px #ca840d;

        }
    }

    @keyframes zhuan{
        0%{transform:translate(-3px,-3px) rotate(-90deg);}
        100%{transform:translate(-3px,-3px) rotate(270deg);}
    }

    @keyframes kuosan{
        0%{transform:translate(-50%,-50%) scale(1,1);}
        50%{transform:translate(-50%,-50%) scale(2,2);}
        100%{transform:translate(-50%,-50%) scale(1,1);}
    }
    .btnbox{
        height: .6rem;
        display: flex;
        width: 100%;
        position: absolute;
        bottom: .4rem;
        justify-content: space-around;
        div{
            width: 43%;
            font-size: 0.15rem;
            text-align: center;
            display: flex;
            color: #ccc;
            background: #002749;
            border:1px solid #006399;
            border-radius: 15px;
            flex-direction: column;
            justify-content: space-around;
            span:nth-child(2){
                color: #009bf9;
                font-size: 0.14rem;
            }
        }
    }
}
