<template>
    <div class="comput">
        <div class="loading">
            <div :class="['wrap','quan',isShow?'zhuan':'']"></div>
            <div :class="['inner','quan',isShow?'fastzhuan':'']" @touchstart="start">
                <span v-if="!isShow">开始挖矿</span><span v-if="isShow">{{message}}</span>
            </div>
        </div>
        <div class="btnbox">
            <div class="wode">
                <span>我的实时算力</span>
                <span>{{computData.userComputePower}}</span>
            </div>
            <div class="quanqiu">
                <span>全球实时算力</span>
                <span>{{computData.globalComputePower}}</span>
            </div>
        </div>   
    </div>
</template>

<script>
    import './comput.scss'
    import store from "../../vuex/store.js"
    import indexdb from '../../utils/db.js'
import { setTimeout } from 'timers';


    export default {
        data(){
            return {
                isShow:store.state.isShow,
                message:'挖矿中'
            }
        },
        computed:{
            myValue() {
				return this.$store.state.isShow
			}
        },
        watch:{
            myValue: function(newVal, oldVal) {
				this.isShow = newVal;
				
			}
        },
        props:['computData'],
        methods:{
            start: function(){
                if(store.state.isStart){
                    store.state.isShow = 1;
                }else{
                    if(confirm('请下载最新版本')){
                        // console.log(store.state.updateUrl)
                        // 跳转到下载页面
                        plus.runtime.openURL('http://www.cminerok.com/api/applicationRelease/download')
                    }else{
                        // 退出app
                        // plus.runtime.quit();
                    }
                }
              
           } 
        },
        mounted(){
            
        }
    } 
</script>