<template>
  	<div id="app">
		<transition :name="direction == 'forward' ? 'view-in' : 'view-out'">
			<router-view :computedData="computedData" v-if="isRouterAlive"></router-view>		
		</transition>

  	</div>
</template>

<script>
	import {mapState, mapMutations,mapGetters} from 'vuex'
	import store from './vuex/store.js'
	import HttpClient from './utils/HttpClient.js'
	import indexdb from './utils/db.js'
	import { setTimeout } from 'timers';
	import './assets/app.scss'
	
  	export default {
		computed:{
      		...mapState({
        		direction: state => state.appModule.direction,
			}),
			myValue() {
				return this.$store.state.isShow
			},
			myStart(){
				return this.$store.state.isStart
			}
		},
		provide(){
			return{
				reload : this.reload
			}
		},
		created(){
			// 进入页面获取打开app的时间，然后查询最后一次发送挖矿的请求的时间，两次时间对比，
			// 如果时间超过10分钟就需要手动点击再次发送挖矿请求

			this.nowRouter = this.$route.path;
			indexdb.select('imei',1).then((result) => {
				if(result.id){
					store.state.imei = result.imei;
					console.log(store.state.imei)
					this.$router.push({ name: 'comput'});
					this.getComputePower();
				}else{
					// function plusReady(){
					// 	store.state.imei = plus.device.imei;
					// 	HttpClient.get("api/user/isActivated",{
					// 		'imei':store.state.imei
					// 	}).then((result) => {
					// 		if(result.data){
					// 			indexdb.insert('imei',{'id':1,'imei':store.state.imei})
					// 			this.$router.push({ name: 'comput'});
					// 		}else{
					// 			this.$router.push({ name: 'activate'});
					// 		}
					// 	}).catch((err) => {
					// 		this.$router.push({ name: 'activate'});
					// 	});
                    // };
                    // if(window.plus){
                    //     plusReady();
                    // }else{
                    //     document.addEventListener("plusready",plusReady,false);
					// }
					HttpClient.get("api/user/isActivated",{
							'imei':'pdmfmldsfjlds'
					}).then((result) => {
						store.state.imei = 'pdmfmldsfjlds';
						if(result.data){
							indexdb.insert('imei',{'id':1,'imei':'pdmfmldsfjlds'})
							this.$router.push({ name: 'comput'});
							this.getComputePower();
						}else{
							this.$router.push({ name: 'activate'});
						}
					}).catch((err) => {
						this.$router.push({ name: 'activate'});
					});
				}
			}).catch((err) => {
			
			});

			if(!store.state.intervalTime){
				HttpClient.get("api/configuration/getBockSetting",{}).then(function(result){
					store.state.intervalTime = result.data.generateBlockTime;
					console.log(store.state.intervalTime);
				})
			}
		},
		watch: {
			myValue: function(newVal, oldVal) {
				if(newVal){
					this.digMine();	
				}
			},
			myStart:function(newStart, oldStart){
				//版本不需要更新的时候，就去判断indexdb里面的时间差
				if(newStart){
					let nowTime = new Date().getTime()/(60*1000);
					console.log(store.state.isStart)
					if(store.state.isStart){
						indexdb.select('imei',2).then((result) => {
							if(result.id){
								let $time = Math.floor(nowTime - result.lastTime);
								if($time <= 10){
									store.state.isShow = result.id;
								}else{
									store.state.isShow = 0;
								}
							}
						}).catch((err) => {
							
						});
					}
				}
			}
		},
		data(){
            return {
				nowRouter:'',
				computedData:{
					userComputePower:'0.00',
					globalComputePower:'0.00'
				},
				isRouterAlive : true,
				isVersion:true,
				deviceUrl:''
				
            }
        },
        methods: {
            ...mapMutations({
				goBack: 'mheaderModule/goBack',
				check_versions: 'appModule/check_versions',
				setPlus: 'appModule/setPlus',
			}),
            digMine : function(callback){
				var _vm = this;
                HttpClient.post('api/minuteIncome/mining',{
					'imei':store.state.imei,
					'rand':Math.random()*10000
                },true).then(function(data){
					// 获取发送成功的时候的时间，记录到indexdb
					var $date = new Date().getTime()/1000/60;
					indexdb.select('imei',2).then(function(data){
						if(data.id){
							indexdb.update('imei',2, {'id':2,'lastTime':$date})
						}else{
							indexdb.insert('imei',{'id':2,'lastTime':$date})
						}
					})
					console.log(data)
					_vm.getComputePower();
					setTimeout(()=>{
						_vm.digMine()
					},60100);
				}).catch(function(err){
					// 发送失败再次发送请求
					setTimeout(()=>{
						_vm.digMine()
					},store.state.intervalTime);
				})
            },
            getComputePower : function(){
                HttpClient.get('api/minuteComputePower/getComputePower',{
					'imei':store.state.imei,
					'rand':Math.random()*10000
					},true).then((result) => { 
                    this.computedData.userComputePower =parseInt(result.data.userComputePower);
					this.computedData.globalComputePower =  parseInt(result.data.globalComputePower);
                }).catch((err) => {
                    console.log(err);
                });
			},
			reload(){
				this.isRouterAlive = false;
				this.$nextTick(function(){
					this.isRouterAlive = true;

				})
			},
			// 获取最新版本与当前版本是否匹配
			getDevice:function(){
				HttpClient.get('api/applicationRelease/getLastVersion',{
					'device':1
				}).then((result) => {
					let oldVersion = store.state.currversion;
					let newVersion = result.data.versionNumber;
					this.deviceUrl = result.data.url
					if(oldVersion != newVersion){
						store.state.updateUrl = result.data.updateUrl;
						store.state.isStart = 0;
						// console.log('198'+store.state.isStart)
						this.isVersion = false;
						if(confirm('有新版本更新，请更新到最新版本，否则会影响您挖矿的权益。')){
							// 跳转到下载页面
							plus.runtime.openURL('http://www.cminerok.com/api/applicationRelease/download?device=1')
						}else{
							// 退出app
							plus.runtime.quit();
						}
					}else{
						store.state.isStart = 1;
					}
				}).catch((err) => {
					store.state.isStart = 1;
				});	
			},
        },
		mounted() {	
			try{		
				let quitRoutes = ['activate', 'comput', 'mine', 'user', 'dapps']
				document.addEventListener('plusready', () => {
					plus.navigator.setStatusBarBackground('#e67771');
					let newview = plus.webview.getWebviewById('newview');
					let currWebView = plus.webview.currentWebview();
					if(newview){
						newview.hide();
					}
					
					let first = null;
					this.setPlus(plus);
					plus.key.addEventListener('backbutton', () => {
						let currRoute = this.$route.name;	
						if (quitRoutes.indexOf(currRoute) > -1) {
							if(!first){
								first = new Date().getTime();
								this.$showToast('ominer：再按一次返回键退出应用');
							} else if (new Date().getTime() - first < 1600) {
								plus.runtime.quit();
							}
							setTimeout(function() {
								first = null;
							}, 1500);
						} else {
							this.goBack();
						}
					});
				});	
			} catch(error){
				
			};
			this.getDevice();
		}
		
	  
	}
</script>

<style  lang="scss" scoped>
	.view-out-enter-active,
  	.view-out-leave-active,
  	.view-in-enter-active,
  	.view-in-leave-active {
		/* will-change: transform; */
		transition: all 100ms;
		height: 100%;
		top: 0;
		width: 100%;
		position: absolute;
		backface-visibility: visible;
		/* perspective: 1000; */
	}

	.view-out-enter {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		color:red;
	}

	.view-out-leave-active {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	.view-in-enter {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	.view-in-leave-active {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	
</style>